body {
 font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 20px;
}

.topHeader {
height:20vh;
border: 2px;
padding: 50px 0 0 0px;
text-align: center;
}

h1 {
	font-weight:900;
	padding: 20px 0 20px 0px;
	color:black;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-color:#59C362;
}

h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: black;
}

img {
	border: 3px;
  border-style: solid;
  border-color:#59C362;
}

.iframe {
	border: 3px;
  border-style: solid;
  border-color:#59C362;
  padding: 0 20px 0 0;
}

.customCallout{
background-color:#59C362;
font-size:1.25rem;
color:#ffffff;	
	font-weight:600;
	margin: 0 0 0 125px;
}


.related {
	background-color:#59C362;
	color:#ffffff;
	font-weight:600;
	text-align:center;
}

h4 {
	font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
margin: 0 10px 40px 0;
margin: 0 10px 0 125px;
padding: 0 0 20px 0;
border-bottom: solid;
border-color: #59C362;
}

.juxtapose {
	padding: 100px 40px 0px 0;
	}

.responsive-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px;
  border-style: solid;
  border-color: #59C362;
  margin-left: 280px;
  width: 850px;
}

p {
	color: black;
	font-size: 18px;
	margin: 0 0 0 125px;
}

h4:first-letter{
	font-size: 45px;
	color: #59C362;
}

h3 {
	padding: 15px 0 10px 0;
}

.footer {
	position: bottom;
	bottom: 0;
	left: 0;
	z-index: 10px;
	background-color: lightgrey;
	color: black;
	width: 2000px;
	text-align: center;
	padding: 15px 0 20px 0;
}

.bottom {
padding: 0 0 0 629px;
color: #59C362;
}
